/*done by the ape brain christian*/

div.info {
    box-sizing: border-box;
    word-wrap: break-word;
    border-radius: 20px;
    text-align: center;
    position: relative;
    clear: both;
    height: calc(100% - 68px);
    padding-top: calc(50vh - 133px);
}

/*it adds flair to the page by adding a gradient*/
body{
    background: center/cover no-repeat linear-gradient(45deg,#D0D0B3 20%,#FF9375 50%,#C10635 100%);
    height: 100vh;
}

input#zip:focus:valid{
background: rgb(22,255,22);
}
